@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

/*PREÂMBULO*/
* {
    margin: 0px;
    padding: 0px;
    color: #666666;
}

:root {
    --cor0: #ffffff;
    --cor1: #000000;
}

/*MAIN*/
html {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: var(--cor0);
}

.container {
    margin: 0px auto;
    max-width: 1920px;
    width: 100%;
}

/*HEADER*/
header {
    position: relative;
    top: 0px;
    height: auto;
    width: 100%;
}

/* HIDE ON DESKTOP */

.nav-container .btn-menumobile {
    display: none;
}

/*NAVBAR*/
nav {
    position: fixed;
    top: 0px;
    height: 100px;
    width: 100%;
    z-index: 1;
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
}

nav:after {
    clear: both;
    content: "";
    display: block;
}

.nav-container {
    max-width: 1200px;
    position: relative;
    margin: 0px auto;
}

#logo {
    width: 50px;
    height: 50px;
    margin-top: 25px;
}

.nav-container ul {
    float: right;
    height: 100px;
    line-height: 100px;
}

.nav-container li {
    list-style: none;
    float: left;
    margin: 0px 15px
}

.nav-container li a {
    text-decoration: none;
    color: #666666;
    transition: .5s;
    font-weight: bold;
}

.nav-container li a:hover {
    color: #3381f3;
}

/*BANNER*/

#main-banner {
    background: url("../imagens/banner6.jpg") no-repeat;
    background-size: cover;
    background-position: 0 55%;
    position: relative;
    margin-top: 100px;
}

#search-form {
    position: relative;
    width: 80%;
    margin: 0px auto;
    padding: 250px 0 250px 0;
    text-align: center;
}

#search-form h1 {
    font-size: 40px;
}

#search-form p {
    margin: 30px 0px 60px 0px;
    font-size: 30px;
    font-weight: 300;
}

#search-form input, #search-form select {
    background-color: #ffffff;
    border-radius: 5px;
    border-color: transparent;
    padding: 10px 20px;
    font-size: 18px;
    margin: 0px 10px;
}

input#btn-search {
    background-color: #1f53a1;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    transition: .5s;
}

input#btn-search:hover {
    background-color: #3381f3;

}

/*ÚLTIMOS EMPREGOS*/

#lastjobs-container {
    text-align: center;
    padding: 100px 0px; 
}

.wrapper {
    max-width: 1200px;
    position: relative;
    margin: 0px auto;
}

#lastjobs-container h1 {
    font-size: 36px;
    margin-bottom: 50px;
}

#lastjobs-container ul {
    border: 1px solid #cccccc;
    border-radius: 10px;
}

#lastjobs-container ul li {
    list-style: none;
    text-align: left;
    border-bottom: 1px solid #cccccc;
    height: 80px;
    position: relative;
}

#lastjobs-container ul li:last-child {
    border: none;
}

.clickarea {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

/*IMAGEM DA EMPRESA*/

.company-box {
    display: inline-block;
    width: 50%;
    position: relative;
    padding-left: 1%;
}

.company-box img {
    width: 100px;
    padding-top: 30px;
}

.company-info {
    display: inline-block;
    margin: 10px 0px 0px 50px;
    text-align: left;
    position: absolute;
}

.company-info h3 {
   font-weight: 300;
   margin-bottom: 10px;
}

.company-info p {
    font-weight: bold;
}

.locality {
    color: #6d6d6d;
    display: inline-block;
    width: 25%;
    position: absolute;
    height: 100%;
    line-height: 80px;
}

.locality img {
    display: inline-block;
    width: 10px;
    margin-right: 5px;
}

.locality p {
    display: inline-block;
}

.job-type{
    display: inline-block;
    width: 20%;
    height: 100%;
    position: absolute;
    padding-top: 30px;
    right: 1%;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    /* color: #ffffff; */
}

.job-type span {
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    color: #ffffff;
}

.clt {
    background-color: #735fee;
}

.pj {
    background-color: #5bbc2e;
}

.homeoffice {
    background-color: #ff5a5f;
}

.btnjobs-container {
    margin-top: 50px;
}

.btn-jobs {
    text-transform: uppercase;
    background-color: #ffffff;
    color: #3381f3;
    border: 2px solid #3381f3;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    transition: 0.5s;
}

.btn-jobs:hover {
    background-color: #3381f3; 
    color: #ffffff;
}

/* SENDJOBS CONTAINER */

#sendjobs-container {
    background: url('../imagens/banner2.jpg');
    background-size: cover;
    background-position: center;
    padding: 150px;
}

#sendjobs-container h2 {
    width: 600px;
    color: #f7f7f7;
    font-size: 36px;
    margin-bottom: 50px;
}

#sendjobs-container p {
    width: 600px;
    color: #f7f7f7;
    font-size: 18px;
    margin-bottom: 50px;
    text-align: justify;
    /* text-shadow: 0px 0px 5px #000000; */
}

.light-btn {
    background-color: #f7f7f7;
    font-weight: bold;
    /* line-height: 7em; */
    border: 2px solid #f7f7f7;
    color: #666666;
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s;
}

.light-btn:hover {
    background-color: transparent;
    color: #f7f7f7;
}

/* SENDJOBS STAUS */

#status-container {
    text-align: center;
    padding: 50px 0px;
    text-align: center;
}

.title-center {
    font-size: 36px;
    margin-bottom: 30px;
}

.p-center {
    width: 80%;
    position: relative;
    margin: 0px auto;
    font-size: 18px;
}

.status-box {
    padding: 5px;
    display: inline-block;
    text-align: center;
    width: 23.5%;
    margin-top: 80px;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    height: 100px;
}

.status-box:nth-child(2) {
    border: none;
}

.status-box:nth-child(3) {
    border-right: none;
}

.status-qtd {
    font-size: 36px;
}

.status-text {
    font-size: 20px; 
}

/*TESTINONY-CONTAINER*/

#testmony-container {
    background: url('../imagens/banner7.jpg') no-repeat;
    background-size: cover;
    padding: 50px 0px;
}

#testmony-container h2 {
    color: #f7f7f7;
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
}

#testmony-container p {
    color: #f7f7f7;
    text-align: center;
    margin-bottom: 50px;
}

.testmony-box {
    display: inline-block;
    width: 24%;
    text-align: center;
}

#testmony-container .testmony-box .testmony-msg {
    background-color: #f7f7f7;
    color: #666666;
    border-radius: 10px;
    padding: 15px;
    width: 50%;
    position: relative;
    margin: 35px auto;
    font-style: italic;
}

.testmony-msg:after {
    content: '';
    width: 0px;
    height: 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #f7f7f7;
    position: absolute;
    bottom: -20px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
}

.testmony-box img {
   width: 100px;
   height: 100px;
   border-radius: 50%
}

.testmony-name {
    font-weight: bold;
 }

 /* BOLG CONTAINER */

 #blog-container {
     text-align: left;
     padding: 50px;
 }

 #blog-container h2 {
    text-align: center;
}

 #blog-container .p-center {
     margin-bottom: 60px;
     text-align: justify;
 }

 .article-box {
     display: inline-block;
     margin-bottom: 50px;
     width: 31%;
     padding: 0px 10px;
     text-align: left;
 }

 .article-box img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

.article-box h4 {
    font-size: 24px;
    margin-bottom: 15px;
}

.article-box h4 a {
    text-decoration: none;
    color: #666666;
}

.article-date {
    font-size: 12px;
    margin-bottom: 15px;
}

.article-resume {
    font-size: 14px;
    margin-bottom: 30px;
}

.article-btn {
    background-color: #3381f3;
    border-color: #3381f3;
    color: #f7f7f7;
}

.article-btn:hover {
    background-color: #f7f7f7;
    border-color: #3381f3;
    color: #3381f3;
}

/* FOOTER */

footer {
    background-color: #666666;
    padding-top: 50px;
    padding-bottom: 40px;
    border-top: 5px solid #3381f3;
}

footer h2, footer p, footer a, footer span {
    color: #d1d1d1;
}

footer h2 {
    font-weight: bold;
}

footer a {
    text-decoration: none;
}

footer li {
    list-style: none;
}

.footer-box {
    width: 30%;
    padding: 1%;
    float: left;
}

footer .wrapper {
    clear: both;
    content: '';
    display: block;
}

.company-footer {
    width: 80%;
}

.company-footer h2 {
    margin-top: 20px;
}

.company-footer h2, .company-footer p {
    margin-bottom: 20px;
}

.footer-list li {
    margin-bottom: 15px;
}

.footer-list li:after {
    clear: both;
    content: '';
    display: block;
} 

.footer-list a {
    transition: 0.5s;
}

.footer-list a:hover {
    color: #FFFFFF;
}

.articles-footer {
    width: 80%;
}

.footer-list.footer-article-list span {
    display: block;
    float: none;
}

.fab {
    font-size: 30px;
    margin-right: 10px;
    float: left;
}

.footer-list li span {
    float: left;
    height: 30px;
    line-height: 30px;
}

.footer-bottom .wrapper p {
    border-top: 1px solid #b2b2b2;
    font-weight: 600px;
    margin-top: 40px;
}

/* FINDJOBS PAGE */
#findjobs #search-form {
    padding: 2em 0 2em 0;
    width: 100%;
    background-color: #3381f3;
    border-top: 5px solid #0000e6;
}

#lastjobs-container #findjobs-container {
    margin-top: 3em;
}

#search-form input, #search-form select {
    width: 20%;
}

#findjobs #search-form input[type=submit] {
    background-color: #f7f7f7;
    color: #3381f3;
}

#findjobs #lastjobs-container ul {
    border-radius: 0;
    margin-top: 0;
}

#type-filter {
    text-align: left;
}

#findjobs #type-filter ul {
    margin: 0;
    border-radius: 0;
    border: 0;
    background-color: #ffffff;
    border-right: 1px solid #cccccc;
}

#findjobs #type-filter ul li {
    display: inline-block;
    width: 20%;
    height: 50px;
    line-height: 50px;
    border-bottom: none;
    padding-left: 0em;
}






/* RESPONSIVIDADE */

@media screen and (max-width: 1165px) {

    #lastjobs-container {
        padding: 0 2em;
    }

    #testmony-container p {
        padding: 0 2em;
    }
}

@media screen and (max-width: 1024px) {

    #logo {
        position: absolute;
        left: 50px;
    }

    .nav-container ul {
        float: none;
        text-align: center;
        padding: 0;
    }

    .nav-container ul li {
        position: relative;
        margin: 0px auto;
        float: none;
        display: inline-block;
        margin: 0px 10px;
    }

    #search-form {
        padding: 25em 0em 5em 0em;
    }

    #search-form form {
        width: 60%;
        position: relative;
        margin: 0px auto;
    }

    #search-form form input, #search-form form select {
        display: block;
        margin: 0px 0px 25px 0px;
        width: 100%;
        border-width: 0;
        padding: 10px 20px;
        box-sizing: border-box;
    }

    #lastjobs-container.wrapper, #status-container.wrapper, #blog-container.wrapper, .wrapper {
        max-width: 960px;
        padding: 50px 2em 0 2em;
    }

    .btnjobs-container {
        margin: 25px 0px 50px 0px;
    }

    #sendjobs-container {
        padding: 100px;
    }

    #status-container, #blog-container {
        margin-top: 35px;
    }

    #status-container {
        margin-bottom: 50px;
    }

    .status-box {
        width: 23%;
    }

    .status-box p {
        font-size: 18px;
    }

    .article-box {
        width: 30%;
    }

}

@media screen and (max-width: 768px) {
    
    .company-box {
        width: 46%;
        padding-left: 1em;
    }

    .company-box .company-info h3 {
        font-size: 1em;
    }

    .company-box .company-info p, .locality img, .locality p, .job-type span {
        font-size: .8em;
    }

    .job-type {
        right: 1em;
    }

    #sendjobs-container {
        padding: 50px;
    }

    .status-box {
        width: 22.5%;
    }

    .status-box p {
        font-size: 14px;
    }

    .testmony-box {
        width: 49%;
    }

    .article-box {
        width: 100%;
        display: block;
        padding: 0px;
    }

}

@media screen and (max-width: 576px) { /* Anterior ao 425px, porem não afeta o projeto. Será? */

    .nav-container .btn-menumobile {
        display: block !important;
    }

    html, body {
        overflow-x: hidden;
    }

    nav {
        height: 4em;
    }

    #logo {
        left: 2em;
        height: 2em;
        width: 2em;
        margin-top: 1em;
    }

    .btn-menumobile {
        display: block;
        height: 1.75em;
        position: absolute;
        right: 1.5em;
        top: 1em;
    }

    .nav-container ul {
        position: relative;
        top: 4em;
        height: 3em;
        line-height: 3em;
        display: none;
    }

    .nav-container ul li {
        display: block;
        background-color: #f7f7f7;
        margin: 0;
        border-top: 1px solid #cccccc;
    }

    .nav-container ul li a {
        font-size: 1em;
    }

    .open { /* Só aparece com a função toggle do jQuery*/
        display: block !important;
    }

    #main-banner {
        margin-top: 4em;
    }

    #search-form {
        padding: 16em 0 5em 0;
        width: 90%;
    }

    #search-form h1 {
        font-size: 1.6em;
    }

    #search-form p {
        font-size: 1em;
        margin-bottom: 2em;
    }

    #search-form form {
        width: 80%;
    }

    #search-form input[type=submit] {
        margin-bottom: 0;
    }
    
    #lastjobs-container {
        padding: 5em 0;
    }

    #lastjobs-container h1 {
        font-size: 1.6em;
    }

    .locality {
        display: none;
    }

    .company-box img {
        width: 4em;
    }

    .company-box .company-info {
        margin-top: 1em;
        margin-left: 1em;
        width: 8em;
    }

    .company-box .company-info h3 {
        font-size: .7em;
    }

    .job-type {
        width: 20%;
    }

    #sendjobs-container {
        background-position: 35% 0;
        padding: 0 0 3.5em 0;
    }

    #sendjobs-container h2 {
        font-size: 1.5em;
        width: 100%;
    }

    #sendjobs-container p {
        font-size: 1em;
        width: 100%;
    }

    #status-container h2 {
        padding: 0;
        text-align: center;
        font-size: 1.5em;
    }

    #status-container p.p-center {
        padding: 0;
        text-align: justify;
        font-size: 1em;
    }

    #status-container .status-box {
        width: 100%;
        margin: 1em 0;
        border: none;
        padding: 0;
    }

    #testmony-container h2 {
        font-size: 1.5em;
    }

    .testmony-box {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    #blog-container h2 {
        font-size: 1.5em;
    }

    #blog-container h4 {
        font-size: 1.3em;
    }

    .footer-box {
        display: block;
        width: 100%;
    }

}